<% @page_title = "Comments on #{@project.title}" -%>
<h1>
  Comments for &quot;<%= h(@repository.name) -%>&quot; repository in <%= h(@repository.project.title) -%>
</h1>
<div class="comments">
  <div class="comments_on_repository" style="float: left;">
    <% if @comments_by_commit.has_key?(nil) %>
      <% comment_position = 1; @comments_by_commit[nil].each do |comment| %>
        <%= render :partial => comment, :locals => { :position => comment_position } -%>
        <% comment_position += 1 %>
      <%- end %>
    <%- end %>
    <%= render :partial => "form" -%>
  </div>
  <div class="comments_on_commits" style="float: right;">
    <% @comments_by_commit.each do |commit, comments| next unless commit %>
      <h4>Comments on commit: <%= link_to "#{commit[0..7]}", project_repository_commit_path(@project, @repository, commit) -%></h4>
      <% comment_position = 1; comments.each do |comment| %>
        <%= render :partial => comment, :locals => { :position => comment_position } -%>
        <% comment_position += 1 %>
      <% end %>
    <%- end %>
  </div>
</div>

<% content_for :submenu do -%>
  <%= render :partial => "repositories/context_menu" -%>
<% end -%>
