<% @page_title = "Free open source project hosting" -%>
<div id="site_intro">
<p>
  <strong>Gitorious</strong> aims to provide a great 
  way of doing distributed opensource code collaboration 
</p>
<%= render :partial => "searches/search_box" -%>
</div>

<div id="site_overview">
  <% unless logged_in? -%>
  <table>
    <tr>
      <th class="left"><h2>For Projects</h2></th>
      <th class="right"><h2>For Contributors</h2></th>
    </tr>
    <tr>
      <td class="left"><%= image_tag("overview_projects.png") -%></td>
      <td class="right"><%= image_tag("overview_contributors.png") -%></td>
    </tr>
  </table>
  
  <p class="hint create_account_hint">
    <%= link_to "Creating a user account", new_user_path -%> allows you to create 
    your own project or participate in the development of any project. 
  </p>
  <% end -%>
</div>

<table class="repository_meta">
  <tr>
    <th><h2>Newest projects</h2></th>
    <th><h2>Most active project</h2></th>
    <th><h2>Most downloaded project</h2></th>
    <th><h2>Most forked project</h2></th>
  </tr>
  <tr>
    <td>
      <div id="newest_projects">
      <ul>
        <% @projects.each do |project| -%>
          <li>
            <strong><%= link_to h(project.title), project -%></strong>
            <small class="hint"><%= truncate(h(project.stripped_description), 100) -%></small>
          </li>
        <% end -%>
      </ul>
    </div>
    </td>
    <td>
      <div id="newest_projects">
      <ul>
        <% ProjectStats.most_active_project.each do |stat| -%>
          <li>
            <strong><%= link_to h(stat.project.title), stat.project -%></strong>
            <small class="hint"><%= truncate(h(stat.project.stripped_description), 100) -%></small>
          </li>
        <% end -%>
      </ul>
    </div>
    </td>
    <td>
      <div id="newest_projects">
      <ul>
        <% ProjectStats.most_downloaded_project.each do |stat| -%>
          <li>
            <strong><%= link_to h(stat.project.title), stat.project -%></strong>
            <small class="hint"><%= truncate(h(stat.project.stripped_description), 100) -%></small>
          </li>
        <% end -%>
      </ul>
    </div>
    </td>
    <td>
      <div id="newest_projects">
      <ul>
        <% ProjectStats.most_forked_project.each do |stat| -%>
          <li>
            <strong><%= link_to h(stat.project.title), stat.project -%></strong>
            <small class="hint"><%= truncate(h(stat.project.stripped_description), 100) -%></small>
          </li>
        <% end -%>
      </ul>
    </div>
    </td>
  </tr>
</table>

